@keyframes ripple {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.rippleEffect {
    opacity:0.8;
    position:absolute;
    border-radius:100%;
    animation: ripple 1s;
    animation-fill-mode: both;
    animation-timing-function:cubic-bezier(0.23, 1, 0.320, 1);
}

.rippleEnd {
    opacity:0;
    transition:0.5s ease;
}

.addRippleBtn {
    overflow:hidden;
    transition:0.5s ease;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.rippleBtn {
    overflow:hidden;
    transition:0.5s ease;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.rippleContainer {
    position:absolute;
    overflow:hidden;
    border-radius:inherit;
    border-width:inherit;
    border-style:inherit;
}